table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-left: solid 1px black;
}

th:hover, td:hover, input:hover {
    border: 1px solid red;
    background-color: salmon;
}

th {
    background-color: lightgray;
    border-bottom: solid 1px black;
    border-collapse: separate;
}

.col {
    margin: 5px 100px;
    width:50%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    user-select: none;
}

input {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0;
    border: 1px solid black;
    margin: 0.5em
}