body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
tr {
    background-color: rgb(235, 235, 235);
}
td {
    border: solid white;
    border-width: 2px 0 0px 0;
}
tr:nth-child(2n) {
    background-color: rgb(211, 211, 211);
}
tr:nth-child(1) {
    color:white;
    background-color: rgb(128, 120, 180);
}
tr:last-child {
    color: white;
}
#last {
    background-color: white;
}