div {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 4px 10px;
    border: solid lightsteelblue 1px;
    border-width: 1px 0 0 0;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
div:nth-child(2n-1) {
    background-color: lightgray;
}

.f {
    padding:30px 0 0;
    margin-left:0px;
    border: solid black 4px;
    background-color: slategrey;
    height: 70px;
}