.stat_box {
    background-color: white;
    border: 1px solid black;
    width: 20%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 40%;
}


body {
    background-color: beige;
    font-family: 'Courier Prime', monospace;
}

.c_hold {
    position: absolute;
    top:60%;
    background-color: white;
    border: solid 1px black;
    left: 45%;
    text-align: center;
    padding: 5px;
}

#last_flip_hold {
    font-weight: bold;
}

#stk_hold {
    background-color: white;
    border: 1px solid black;
    width:90%;
    position: absolute;
    padding: 5px;
    display: flex;
    top:10%;
    left:5%;
    justify-content: space-around;
}